* {
  margin: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.head {
  width: 100%;
  height: 700px;
  background-image: url("./BG.png");
  background-size: cover;
  margin-bottom: 100px;
}
.header {
  width: 960px;
  height: 53px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 120px;
}
.Logo {
  width: 48px;
  height: 48px;
}
.sslki {
  width: 517px;
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.sslka {
  font-size: 14px;
  color: #000;
  text-decoration: none;
}
.knopka {
  padding: 12px 25px;
  border-radius: 30px;
  border: 1px solid violet;
  color: violet;
  text-decoration: none;
}
.data {
  width: 472px;
  height: 294px;
  margin-left: 150px;
  display: inline-block;
}
.learn {
  width: 228px;
  color: #722ed1;
  font-size: 16px;
  padding: 8px 30px;
  background-color: #f7f1ff;
  border-radius: 30px;
  text-align: center;
}
h1 {
  font-size: 48px;
  font-weight: 700;
  color: #000;
}
.harness {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 70px;
}
.vi {
  background-color: #722ed1;
  color: #ffffff;
  border: none;
}
.wh {
  background-color: #ffffff;
  color: #722ed1;
  border: none;
}
.tech {
  width: 472px;
  height: 370px;
}
.get {
  width: 963px;
  height: 348px;
  margin: auto;
  padding: 10px 0px;
  text-align: center;
  margin-bottom: 100px;
}
.action {
  font-size: 32px;
  font-weight: 700;
  color: #160637;
  padding: 30px 0px;
}
.lorem {
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 30px;
  color: #8989a2;
}
.flex {
  width: 963px;
  height: 168px;
  display: flex;
  justify-content: space-between;
}
.info {
  width: 307px;
  height: 168px;
  text-align: center;
}
.iconka {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}
.infor {
  font-size: 16px;
  font-weight: 700;
  color: #160637;
  margin-bottom: 20px;
}
.launch {
  width: 974px;
  height: 435px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.group {
  width: 412px;
  height: 435px;
}
.prouduct {
  width: 474px;
  height: 200px;
  align-self: center;
}
.driven {
  width: 1174px;
  height: 414px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.pipelines {
  width: 509px;
  height: 200px;
  align-self: center;
}
.image {
  width: 684px;
  height: 414px;
}
